*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/build/
/dist
/dist/
/nbproject
/nbproject/
build.xml
manifest.mf
/captures
/captures/
.externalNativeBuild
.cxx
local.properties
tas_sp26_v1.sql
tas_sp26_v2.sql